// container

$container-large: 1240px;

// background
$body-main: #0F172A;
$body-black: #000000;
$body-green: rgb(106, 152, 60);
$body-blue: rgb(106, 150, 212);
$body-white: rgb(251, 251, 251);

//text
$color-white: #FFFFFF;
$color-black: #000000;